
html{
	height: 100%;
}
body {
	font-family: 'Strait', sans-serif;
	background-color: #ffffff;
	color: #fff;
	margin: 0px;
	overflow: hidden;
	letter-spacing:1px;
	font-size:13px;
	height: 100%;
}

#join{
	position: absolute;
	left: 50%;
	
}
#studentJoin, #teacherJoin{
	margin: 20px;
}

#logo {
	width:50px;
	height:50px;
	padding:10px;
	position:absolute;
	top:0px;
	right:0px;
	cursor:pointer;
	background-color:rgba(0,0,0,0.4);
	background-image:url(../img/oculus_bridge.png);
	background-repeat:no-repeat;
	background-position:10px 10px;
}

#logo.offline{
	background-image:url(../img/oculus_bridge_offline.png);
}

.button {
	font: 'Strait', sans-serif;
	cursor:pointer;
	display:inline-block;
	background:#404040;
	padding:10px;
	color:#a0a0a0;
}

.button:hover{
	color:white;
}

#info{
	padding:10px;
	color:#fff;
	position:absolute;
	background-color:rgba(0,0,0,0.4);
  }

  #help-text H1 {
	font-size:18px;
	margin-top:15px;

  }
  
  #help-text DIV{
	margin-bottom:5px;
  }

  #help-text DIV LABEL{
	display:inline-block;
	width:160px;
  }

  #help-text SECTION {
	margin-top:20px;
  }

  #generic_error,
  #security_error{
	padding-top:200px;
	width:500px;
	margin-left:auto;
	margin-right:auto;
	display:none;
  }